.load_more_jobs {
    display: block;
    text-align: center;

    strong {
        display: inline-block;
        font-family: $btn-font-family;
        font-weight: $btn-font-weight;
        color: $body-color;
        text-align: center;
        text-decoration: if($link-decoration == none, null, none);
        white-space: $btn-white-space;
        vertical-align: middle;
        user-select: none;
        background-color: transparent;
        border: $btn-border-width solid transparent;
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
        @include transition($btn-transition);

        @include hover() {
            color: $body-color;
            text-decoration: none;
        }

        &:focus,
        &.focus {
            outline: 0;
            box-shadow: $btn-focus-box-shadow;
        }

        @include button-variant($primary, $primary);
    }
}