.d-box {
    display: -webkit-box;
}

.box-orient-vertical {
    -webkit-box-orient: vertical;
}

.show-lines-2 {
    -webkit-line-clamp: 2;
}

.show-lines-3 {
    -webkit-line-clamp: 3;
}

.show-lines-4 {
    -webkit-line-clamp: 4;
}

.show-lines-5 {
    -webkit-line-clamp: 5;
}

.show-lines-6 {
    -webkit-line-clamp: 6;
}

.show-lines-7 {
    -webkit-line-clamp: 7;
}